ipython==7.10
jupyter~=1.0
jupyter_client>=5.1, <7.0
jupyterlab~=3.0
great-expectations~=0.13.24
kedro[pandas.CSVDataset]==0.17.4
kedro-airflow==0.4.1
kedro-telemetry~=0.1.0
kedro-viz~=3.14.0
nbstripout~=0.4
numpy~=1.21.1
requests~=2.25.1
aiohttp~=3.7.4
scipy~=1.7.0
wheel>=0.35, <0.37
